<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.maureen.yishenghuo">

    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />

    <!-- OpenGLES 2.0 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="com.maureen.yishenghuo.base.BaseApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.maureen.yishenghuo.activity.LoginActivity" />
        <activity
            android:name="com.maureen.yishenghuo.activity.MainActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.maureen.yishenghuo.activity.RegisterActivity" />
        <activity android:name="com.maureen.yishenghuo.neighborhood.MessageActivity" />
        <activity android:name="com.maureen.yishenghuo.servicesupport.WeatherActivity" />
        <activity android:name="com.maureen.yishenghuo.activity.PropertyActivity" />
        <activity android:name="com.maureen.yishenghuo.activity.ParkActivity" />
        <activity android:name="com.maureen.yishenghuo.activity.ElectricActivity" />
        <activity android:name="com.maureen.yishenghuo.neighborhood.NewsActivity" />
        <activity android:name="com.maureen.yishenghuo.neighborhood.NeighborCircleActivity" />
        <activity android:name="com.maureen.yishenghuo.activity.GasActivity" />
        <activity android:name="com.maureen.yishenghuo.activity.WaterActivity" />
        <activity android:name="com.maureen.yishenghuo.servicesupport.RepairsActivity" />
        <activity android:name="com.maureen.yishenghuo.servicesupport.ComplainActivity" />
        <activity android:name="com.maureen.yishenghuo.servicesupport.HouseKeepingActivity" />
        <activity android:name="com.maureen.yishenghuo.servicesupport.ApplianceRepairActivity" />
        <activity android:name="com.maureen.yishenghuo.servicesupport.WashingActivity" />
        <activity android:name="com.maureen.yishenghuo.servicesupport.EntranceActivity" />
        <activity android:name="com.maureen.yishenghuo.servicesupport.GuessComeActivity" />
        <activity android:name="com.maureen.yishenghuo.activity.BuildingSettingActivity" />
        <activity android:name="com.maureen.yishenghuo.activity.SettingActivity" />
        <activity android:name="com.maureen.yishenghuo.activity.FeedbackActivity" />
        <activity android:name="com.maureen.yishenghuo.neighborhood.DynamicActivity" />
        <activity android:name="com.maureen.yishenghuo.neighborhood.NeighborsActivity" />
        <activity android:name="com.maureen.yishenghuo.activity.CommunityActivity" />
        <activity android:name="com.maureen.yishenghuo.activity.ElectricApplyActivity" />
        <activity android:name="com.maureen.yishenghuo.activity.PropertyApplyActivity" />
        <activity android:name="com.maureen.yishenghuo.activity.GasApplyActivity" />
        <activity android:name="com.maureen.yishenghuo.activity.ParkApplyActivity" />
        <activity android:name="com.maureen.yishenghuo.activity.WaterApplyActivity" />
        <activity android:name="com.maureen.yishenghuo.servicesupport.AsideActivity" />
        <activity android:name="com.maureen.yishenghuo.servicesupport.NoticeActivity" />
        <activity android:name="com.maureen.yishenghuo.neighborhood.HealthActivity" />
        <activity android:name="com.maureen.yishenghuo.servicesupport.PropertyPhoneActivity" />
        <activity android:name="com.maureen.yishenghuo.servicesupport.IllegalityActivity" />
        <activity android:name="com.maureen.yishenghuo.activity.AboutUsActivity" />
        <activity android:name="com.maureen.yishenghuo.neighborhood.ContactsActivity" />
        <activity android:name="com.maureen.yishenghuo.activity.ChangePasswordActivity" />
        <activity android:name="com.maureen.yishenghuo.activity.InformationActivity" />
        <activity android:name="com.maureen.yishenghuo.activity.BindingPhoneActivity" />
    </application>

</manifest>